<a href="https://colab.research.google.com/github/esweany/Foundations-of-Python-1/blob/master/Sweany_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem 1 [2 point]

*   Use a list operation to create a list of ten elements, each of which is '*'
*   Store the list created in a variable called `ls1`

In [1]:
# Begin solution

ls1=['*','*','*','*','*','*','*','*','*','*']

print (ls1)
# End solution

['*', '*', '*', '*', '*', '*', '*', '*', '*', '*']

#Problem 2 [2 points]

Replace the last element in list1 with list2

In [19]:
list1 = [0, 1, 0, 1]
list2 = [1, 2, 3]

# Begin solution

list1 = list1[:3]
list1.append(list2[:])



print(list1)
print(list2)
# End solution

[0, 1, 0, [1, 2, 3]]
[1, 2, 3]

#Problem 3 [2 points]

Create a list named `ls3` from the last 3 elements of `mytuple` and first 4 elements of `mylist`

In [40]:
mytuple = (100, 98, 99, 102, 96)
mylist = ['a','b','c','d','e','f','g','h']

# Begin solution


tuple_list = list(mytuple)

ls3 = tuple_list[2:5]
ls3.extend(mylist[0:4])

print(ls3)
# End solution

[99, 102, 96, 'a', 'b', 'c', 'd']

#Problem 4 [2 points]

Create a list named `ls4` which only contain the second smallest and the second largest numbers of `sample_list`

In [ ]:
sample_list = [2, 5, 0.7, 0.2, 0.1, 6, 7, 3, 1, 0, 0.3]

# Begin solution

ls4=


print(ls4)
# End solution

#Problem 5 [5 points]

Create a list named `ls5` which has all the elemets of `fruits` but in lower case characters. You are supposed to use a loop.

In [ ]:
fruits = ['Apple','oRange','apricot','TOMATO']

# Begin solution
#hint: you need to use a loop and go through every item of the list and make them all lower case in a new list




ls5=


print(ls5)
# End solution

#Problem 6 [3 points]

Create a tuple named `tp6` which has all the numbers of `tuple_sample` except that 5 is replaced with 100.

In [ ]:
tuple_sample = (1,2,3,4,5,6,7,8,9)

# Begin solution

tp6=

print(tp6)
# End solution

#Problem 7 [4 points]

Create a string named `str7` from all the elements of `words`. Words should be separated by a space in the string that you will create. You are supposed to use a loop.

In [ ]:
words=['these', 'exercises', 'are', 'too', 'easy']

# Begin solution


str7=

print(str7)
# End solution